In [50]:
import os
import openai
import pandas as pd
import tiktoken
import re
import numpy as np
from openai.embeddings_utils import get_embedding
openai.organization = ""
openai.api_key = ""

In [51]:
trump = pd.read_csv('https://drive.google.com/uc?export=download&id=1xRKHaP-QwACMydlDnyFPEaFdtskJuBa6')
trump.text = trump.apply(lambda row: re.sub(r"http\S+", "", row.text).lower(), 1)
trump.text = trump.apply(lambda row: " ".join(filter(lambda x:x[0]!="@", row.text.split())), 1)
trump.text = trump.apply(lambda row: " ".join(re.sub("[^a-zA-Z]+", " ", row.text).split()), 1)
trump = trump.loc[(trump.isRetweet == "f") & (trump.text != ""), :]
timestamps = trump.date.to_list()
tweets = trump.text.to_list()

In [52]:
len(tweets)

45355

In [53]:
df = pd.DataFrame (tweets, columns = ['tweets'])
df = df.dropna() 
df.head(2)

                                              tweets
0  republicans and democrats have both created ou...
1  i was thrilled to be back in the great city of...

In [54]:
len(df)

45355

In [55]:
# embedding model parameters
##not need if doing it parallel
embedding_model = "text-embedding-ada-002"
embedding_encoding = "cl100k_base"  # this the encoding for text-embedding-ada-002
max_tokens = 8000  # the maximum for text-embedding-ada-002 is 8191
encoding = tiktoken.get_encoding(embedding_encoding)
df["n_tokens"] = df.tweets.apply(lambda x: len(encoding.encode(x)))

In [56]:
sum(df.n_tokens)

1007933

In [65]:
split_dfs = np.array_split(df,47)
split_dfs[-1]

                                                  tweets  n_tokens
44390  but should be much higher than that if twitter...        37
44391  the best thing ever to happen to twitter is do...        46
44392  harley davidson has struggled with tariffs wit...        52
44393  dumb and sick a really bad show with low ratin...        53
44394  sorry to say but is by far the best of the mor...        50
...                                                  ...       ...
45350  iran never won a war but never lost a negotiation        10
45351  thank you to the washington examiner the list ...        12
45352  one of my greatest honors was to have gotten c...        22
45353  just signed an order to support the workers of...        44
45354  suburban women want safety amp security joe bi...        15

[965 rows x 2 columns]

In [66]:
from pandarallel import pandarallel
pandarallel.initialize()

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/

In [68]:
def process_apply(x):
    import openai
    from openai.embeddings_utils import get_embedding
    embedding_model = "text-embedding-ada-002"
    openai.organization = ""
    openai.api_key = "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"
    openai.organization = ""
    return get_embedding(x, engine=embedding_model)

In [69]:
import time
for i in range(len(split_dfs)):
    sdf = split_dfs[i]
    start_time = time.time()
    print("----subset %s" %i)
    print("---- starting %s" %(start_time))
    sdf["embedding"] = sdf["tweets"].parallel_apply(process_apply)
    print("--- %s seconds ---" % (time.time() - start_time))
    sdf["embedding"].head(2)

----subset 0
---- starting 1681107906.5701902
--- 59.42798328399658 seconds ---
----subset 1
---- starting 1681107965.9981735
--- 40.44194531440735 seconds ---
----subset 2
---- starting 1681108006.4411182
--- 40.017064809799194 seconds ---
----subset 3
---- starting 1681108046.458183
--- 38.99197006225586 seconds ---
----subset 4
---- starting 1681108085.450153
--- 37.5728497505188 seconds ---
----subset 5
---- starting 1681108123.0230029
--- 37.270559787750244 seconds ---
----subset 6
---- starting 1681108160.2935627
--- 36.35963702201843 seconds ---
----subset 7
---- starting 1681108196.6541836
--- 32.887691259384155 seconds ---
----subset 8
---- starting 1681108229.541875
--- 35.75722551345825 seconds ---
----subset 9
---- starting 1681108265.3001
--- 30.671090364456177 seconds ---
----subset 10
---- starting 1681108295.9711905
--- 36.39570450782776 seconds ---
----subset 11
---- starting 1681108332.3679004
--- 38.0749785900116 seconds ---
----subset 12
---- starting 1681108370.442879
--- 36.124346017837524 seconds ---
----subset 13
---- starting 1681108406.567225
--- 38.34968900680542 seconds ---
----subset 14
---- starting 1681108444.916914
--- 39.80095100402832 seconds ---
----subset 15
---- starting 1681108484.7188647
--- 41.346314668655396 seconds ---
----subset 16
---- starting 1681108526.0651793
--- 40.84379506111145 seconds ---
----subset 17
---- starting 1681108566.9089744
--- 40.38204288482666 seconds ---
----subset 18
---- starting 1681108607.2910173
--- 41.75989651679993 seconds ---
----subset 19
---- starting 1681108649.0509138
--- 44.208043575286865 seconds ---
----subset 20
---- starting 1681108693.2589574
--- 41.72923016548157 seconds ---
----subset 21
---- starting 1681108734.9881876
--- 45.86087465286255 seconds ---
----subset 22
---- starting 1681108780.8500602
--- 54.090930223464966 seconds ---
----subset 23
---- starting 1681108834.9409904
--- 50.44619393348694 seconds ---
----subset 24
---- starting 1681108885.3871844
--- 41.12078785896301 seconds ---
----subset 25
---- starting 1681108926.5079722
--- 43.39432668685913 seconds ---
----subset 26
---- starting 1681108969.902299
--- 39.76175260543823 seconds ---
----subset 27
---- starting 1681109009.6640515
--- 71.74207472801208 seconds ---
----subset 28
---- starting 1681109081.407126
--- 63.673938512802124 seconds ---
----subset 29
---- starting 1681109145.0810645
--- 37.358076095581055 seconds ---
----subset 30
---- starting 1681109182.4391406
--- 38.53935194015503 seconds ---
----subset 31
---- starting 1681109220.9784925
--- 37.29809832572937 seconds ---
----subset 32
---- starting 1681109258.2765908
--- 38.38647437095642 seconds ---
----subset 33
---- starting 1681109296.6630652
--- 40.454917430877686 seconds ---
----subset 34
---- starting 1681109337.1179826
--- 64.59521818161011 seconds ---
----subset 35
---- starting 1681109401.7132008
--- 55.051839113235474 seconds ---
----subset 36
---- starting 1681109456.7660398
--- 50.56150722503662 seconds ---
----subset 37
---- starting 1681109507.3285465
--- 45.5354483127594 seconds ---
----subset 38
---- starting 1681109552.8639948
--- 46.03819680213928 seconds ---
----subset 39
---- starting 1681109598.9021916
--- 35.73897886276245 seconds ---
----subset 40
---- starting 1681109634.6411705
--- 38.31521773338318 seconds ---
----subset 41
---- starting 1681109672.9563882
--- 36.76960325241089 seconds ---
----subset 42
---- starting 1681109709.7259915
--- 44.315285444259644 seconds ---
----subset 43
---- starting 1681109754.041277
--- 36.05462408065796 seconds ---
----subset 44
---- starting 1681109790.095901
--- 36.454845666885376 seconds ---
----subset 45
---- starting 1681109826.5517466
--- 40.768861293792725 seconds ---
----subset 46
---- starting 1681109867.320608
--- 37.005292892456055 seconds ---

In [71]:
resultdf = pd.concat(split_dfs)
resultdf.head(10)

In [72]:
len(resultdf)

45355

In [74]:
resultdf.to_csv("trump_tweet_embedded.csv")

In [ ]:
import ast
emb = np.array([ast.literal_eval(x) for x in df["embedding"]])

In [ ]:
emb.shape
np.save("trump_twitter_np_ada.npy", emb)

In [ ]:
####################################Chaning to test set########################################################

In [ ]:
# testdf = dfs[0].iloc[0:10].copy()
# len(testdf)
# ###these works
# #testdf["embedding"] = testdf["tweets"].apply(lambda x: get_embedding(x, engine=embedding_model))
# def process_apply(x):
#     import openai
#     from openai.embeddings_utils import get_embedding
#     embedding_model = "text-embedding-ada-002"
#     openai.organization = ""
#     openai.api_key = "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"
#     openai.organization = ""
#     return get_embedding(x, engine=embedding_model)
# #testdf["embedding"] = testdf["tweets"].apply(process_apply)
# testdf

In [ ]:
##this work
#testdf["embedding"] = testdf["tweets"].parallel_apply(process_apply)
#testdf

In [ ]:
# split_dfs = np.array_split(testdf,10)
# split_dfs[0].head(10)

In [ ]:
# import time
# for i in range(len(split_dfs)):
#     sdf = split_dfs[i]
#     start_time = time.time()
#     print("----subset %s" %i)
#     print("---- starting %s" %(start_time))
#     sdf["embedding"] = sdf["tweets"].parallel_apply(process_apply)
#     print("--- %s seconds ---" % (time.time() - start_time))
#     sdf["embedding"].head(2)